{% extends "base.html" %}

{% block body %}
<section class="header">
  <h2 class="title">Dead simple Todolists.</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <form action="{{ reverse_url('new_todo') }}" method=post>
        {% module xsrf_form_html() %}
        <dl>
          <dd><input class="u-full-width" name="description" placeholder="Enter your todo" type="text" maxlength=128>
          <dd><input class="u-full-width" value="Start one now" type="submit">
        </dl>
      </form>
    </div>
  </div>
</section>
{% end %}
