{% extends "base.html" %}

{% block body %}
<section class="header">
  <h2 class="title">Login</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <form method=post>
        {% module xsrf_form_html() %}
        <dl>
          <dd><input class="u-full-width" placeholder="Email or Username" maxlength=128>
          <dd><input class="u-full-width" placeholder="Password" type="password">
          <dd><input class="u-full-width" value="Log In" type="submit">
        </dl>
      </form>
      <p>New user? <a href="{{ reverse_url('auth.register') }}">Click here to register</a>.</p>
    </div>
  </div>
</section>
{% endblock %}
