{% extends "base.html" %}

{% block body %}
<section class="header">
  <h2 class="title">Register</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <form method=post>
        {% module xsrf_form_html() %}
        <dl>
          <dd><input class="u-full-width" name="username" placeholder="Username" type="text" maxlength=64>
          <dd><input class="u-full-width" name="email" placeholder="Email" type="email" maxlength=64>
          <dd><input class="u-full-width" name="password" placeholder="Password" type="password">
          <dd><input class="u-full-width" name="password_confirmation" placeholder="Confirm your Password" type="password">
          <dd><input class="u-full-width" value="Register" type="submit">
        </dl>
      </form>
      <p>Already registerd? <a href="{{ reverse_url('login') }}">Click here to login</a>.</p>
    </div>
  </div>
</section>
{% end %}
